{% extends 'app/base.html' %}

{% block contenido %}

{% load crispy_forms_tags %}
<br>
<div class="row">
    <div class="col-12 col-md-6 offset-md-3">

        <div class="card">
            <div class="card-body">
                <h2>Agregar Libro</h2>
                <hr>
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="inputBox">
                        <span>Nombre del Libro</span>
                        <input type="text" class="card-holder-input" id="nombre_libro"  name="nombre_libro" required>
                    </div>
                    <div class="inputBox">
                        <span>Precio</span>
                        <input type="number" class="card-number-input"  id="precio_libro"  name="precio_libro" required>
                    </div>
                    
                        <div class="inputBox">
                            <span>Autor</span>
                            <input type="text" class="card-holder-input" id="autor_libro"  name="autor_libro" required>
                        </div>
                        <div class="inputBox">
                            <label for="generos">Genero</label>
                            <select name="generos" id="generos" required>
                                <option value=1 >Accion</option>
                                <option value=2 >Aventura</option>
                                <option value=3 >Terror</option>
                                <option value=4 >Ciencia ficcion</option>
                                <option value=5 >Romance</option>
                                <option value=6 >Humor</option>
                                <option value=7 >Poesia</option>
                                <option value=8 >Novela</option>

                            </select>

                        </div>
                        <div class="inputBox">
                            <span>Numero de Paginas</span>
                            <input type="number" class="card-number-input"  id="num_paginas"  name="num_paginas" required>
                        </div>
                        <div class="inputBox">
                            <span>Descripcion</span>
                            <textarea type="text" class="card-number-input"  id="descripcion_libro"  name="descripcion_libro" required></textarea>
                        </div>
                        <div class="inputBox">
                            <span>¿Es nuevo?</span>
                            <input type="checkbox"   id="nuevo"  name="nuevo" >
                        </div>
                        <div class="col-md-6 mt-2">
                            <label>Editorial</label>
                            <select class="form-select form-select-lg mb-3" name="editorial_libro" aria-label=".form-select-lg example " required>
                                <label>Editorial</label>
                                {% for edi in editorial %}
                                    <option  value="{{ edi.nombre }}" class="form-control" >{{ edi.nombre }} </option>
                                {% endfor %}
                              </select>
                        </div>
                        <div class="inputBox">
                            <span>Fecha de publicacion</span>
                            <input type="date"   id="datePickerId"  name="fecha_fabricacion" required>
                        </div>
                        <div class="inputBox">
                            <span>ISSN</span>
                            <input type="number" class="card-number-input"  id="issn_libro"  name="issn_libro" required>
                        </div>
                    
                        <div class="inputBox">
                            <span>Cantidad</span>
                            <input type="number" class="card-number-input"  id="cantidad_libro"  name="cantidad_libro" required>
                        </div>
                </div>
                
            
                    <input type="submit" value="Añadir" class="submit-btn-btn-primary">
                    
                </form>
            {{ mensaje }}

        </div>
    </div>

  </div>
</div>
<style>
    .req {
    color: red;
    }
    
</style>
<script>
    datePickerId.max = new Date().toISOString().split("T")[0];
</script>
{% endblock %}