{% extends 'app/base.html' %}
{% load static %}

{% block js %}
<script src="{% static 'app/js/jquery-3.6.1.min.js' %}"></script>
<!--custom js-->
<script src="{% static 'app/js/menu.js' %}"></script>
{% endblock %}

{% block contenido %}
{% load humanize %}



<br>
<div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <div class="card product_data"> <!--SE AGREGÓ product data para hacer el carrito-->
                <div class="row">
                    <div class="col-md-5"> <!--ocupa 5/12 del container-->
                        {% if object.imagen %}
                        <div class="images p-4 pe-0">
                            <div class="text-center p-4"> <img src="{{ object.imagen.url }}" alt="imagen producto"/> </div>
                        </div>
                        {% endif %}
                    </div>
                    <div class="col-md-7"> <!--ocupa 7/12 del container-->
                        <div class="product p-4 "> 
                            <div class="mt-4 mb-3"> 
                                <h5>{{object.editorial | capfirst }}</h5>
                                <h1>{{object.nombre | title }}</h1>
                                <h4>{{object.autor | capfirst }}</h4>
                                <h3>$ {{object.precio | intcomma }}</h3>
                            </div>
                            <p class="about">{{object.descripcion | title }}</p>
                    

                           <!--  <div class="cart mt-4 align-items-center"> <button class="btn btn-danger text-uppercase mr-2 px-4 addToCartBtn">Añadir al carrito</button> </div> -->
                            {% if object.quantity > 0 %}
                                <label class="badge bg-success">Disponible</label>
                            {% else %}
                                <label class="badge bg-success">Agotado</label>
                            {% endif %}
                            {% if request.user.groups.all.0.name == "Cliente" %}
                            <div class="row mt-2">
                                <div class="col-md-3">

                                    {% csrf_token %}

                                    <input type="hidden" value="{{ object.id }}" class="prod_id"> <!--referencia a linea 36 de custom.js-->
                                    
                                    <label for="Quantity">Cantidad</label>
                                    <div class="input-group text-center" style="width:130px;">
                                        <button class="input-group-text decrement-btn">-</button>
                                        <input type="text" name="quantity" class="form-control qty-input text-center" value="1" onclick="update()"> <!--referencia a linea 37 de custom.js-->
                                        <button class="input-group-text increment-btn me-1" id="increment-btn">+</button>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <br/>
                                    
                                    {% if object.quantity > 0 %}
                                        <button type="button" class="btn btn-danger text-uppercase me-3 ms-4 float-start px-3 addToCartBtn">Añadir al <i class="bi bi-cart-plus"></i> </button>
                                        <button type="button" class="btn btn-warning me-3 float-start reservarBtn">Reservar</button>

                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
