{% extends 'app/base.html' %}

{% block contenido %}

{% load crispy_forms_tags %}
<br>
<div class="row">
    <div class="col-12 col-md-6 offset-md-3">

        <div class="card">
            <div class="card-body">
                <h2>Editar Libro</h2>
                <hr>
            <form action="" method="post" enctype="multipart/form-data">

                {% csrf_token %}

                {{ form | crispy }}

                <br>
                <div class="d-flex justify-content-left">
                    <input type="submit" value="Editar" class="btn btn-primary">
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    <input type="reset" value="Cancelar" class="btn btn-secondary">
                    

                </div>
                
            </form>
            {{ mensaje }}

        </div>
    </div>

  </div>
</div>

{% endblock %}
