<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"0>

</head>
<form action="{% url 'addInForum' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h5> ¿De qué tema quieres hablar {{ usuario.first_name }} ?</h6>
    
    <div class="container rounded border border-3 border-secondary">
        <div class="inputBox mt-2 mb-3">
            <label for="tema" class="form-label">Tema</label>
            <input type="text" class="form-control" placeholder="Relacionado a la libreria" id="tema"  name="tema">
        </div>
        <div class="inputBox mt-2 mb-3">
            <label for="descripcion" class="form-label">Cuentanos más detalles</label>
            <textarea class="form-control" id="descripcion" name="descripcion" rows="3" col></textarea>
        </div>
    </div>
    <input type="submit" value="Publicar" class="submit-btn btn btn-primary mt-3">
</form>
<style>
        
    form{
        background-color: white;
        border:4px solid black;
        margin: 0 auto;
        padding: 40px;
        width: fit-content;
    }
    body {
        background-image: url('https://p4.wallpaperbetter.com/wallpaper/427/799/775/library-artwork-books-wallpaper-preview.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>