{% extends 'app/base.html' %}
{% load static %}

{% block js %}
{% endblock %}

{% block contenido %}
{% load humanize %}



<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card shadow">
                    <div class="card-body cartdata">
                        
                        {% if cart %}
                            {% for item in cart %}
                                <div class="row product_data">
                                    <div class="col-md-2 my-auto">
                                        <img src="{{ item.product.imagen.url }}" height="200px" width="140px" alt="imagenlibro"> 
                                    </div>
                                    <div class="col-md-3 my-auto">
                                        <h6>Libro: {{ item.product.nombre }}</h6>
                                    </div>
                                    <div class="col-md-2 my-auto">
                                        <h6>Precio: $ {{ item.product.precio | intcomma }}</h6>
                                    </div>
                                    <div class="col-md-3 my-auto">
                                        <input type="hidden" class="prod_id" value="{{ item.product_id }}">
                                        {% csrf_token %}
                                        {% if item.product.quantity >= item.producto_qty %}
                                            <label for="Quantity">Unidades</label>
                                            <div class="input-group text-center mb-3" style="width:130px;">
                                                <button class="input-group-text changeQuantity decrement-btn">-</button>
                                                <input type="text" name="quantity" class="form-control qty-input text-center" value="{{ item.producto_qty }}" onclick="update()"> <!--referencia a linea 37 de custom.js-->
                                                <button class="input-group-text changeQuantity increment-btn" id="increment-btn">+</button>
                                            </div>
                                        {% else %}
                                            <h6>Agotado</h6>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-2 my-auto">
                                        <button class="btn btn-danger delete-cart-item"> <i class="bi bi-trash-fill"></i> Eliminar </button>
                                    </div>


                                </div>
                                
                            {% endfor %}
                            {% if user.perfilusuario.pais.name == "Colombia" %}
                                <a href="{% url 'checkout' %}" class="btn btn-outline-danger float-end m-3 " >Realizar envio </a>
                                <a href="{% url 'recoger_tienda' %}" class="btn btn-outline-warning float-end m-3 " >Recoger en tienda </a>
                            {% else %}
                                <a href="{% url 'checkout' %}" class="btn btn-outline-warning float-end" > Realizar envio </a>
                                {% endif %}
                        {% else %}
                            <h4> El carrito está vacio </h4>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>

    </div>


</div>



{% endblock contenido %}