{% extends 'app/base.html' %}

{% block contenido %}
{% load humanize %}

<br>
<div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="row">
                    <div class="col-md-5"> <!--ocupa 5/12 del container-->
                        <div class="images p-4 pe-0">
                            <div class="text-center p-4"> <img src="{{ object.imagen.url }}" alt="imagen producto"/> </div>
                        </div>
                    </div>
                    <div class="col-md-7"> <!--ocupa 7/12 del container-->
                        <div class="product p-4 "> 
                            <div class="mt-4 mb-3"> 
                                <h5>{{object.editorial | capfirst }}</h5>
                                <h1>{{object.nombre | title }}</h1>
                                <h4>{{object.autor | capfirst }}</h4>
                                <h3>$ {{object.precio | intcomma }}</h3>
                            </div>
                            <p class="about">{{object.descripcion | title }}</p>

                            <div class="cart mt-4 align-items-center"> <button class="btn btn-danger text-uppercase mr-2 px-4">Añadir al carrito</button> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}