{% extends 'app/base.html' %}

{% block js %}

<script>
    function eliminarNoticia(id){
        Swal.fire({
            "title" : "¿Estas seguro?",
            "text"  : "deseas eliminar la noticia?",
            "icon"  : "question",
            "showCancelButton" : true,
            "confirmButtonText" : "Confirmar",
            "cancelButtonText" : "Cancelar",
            "confirmButtonColor" : "#B90C0C"
        })
        .then(function(result){
            if(result.isConfirmed){
                window.location.href = "/eliminar-noticia/"+id+"/"
            }
        })
    }
</script>

{% endblock %}

{% block contenido %}
{% load humanize %}
<br><br>
<div class="card">
    <div class="card-body">
        <h2>Ultimas Noticias</h2>
        <hr>
        <table class="table table-striped table-hover table-responsive-small">
            <tr>
                <th>Portada</th>
                <th>Libro nuevo</th>
                <th>Descripcion</th>
                <th>Fecha de creación</th>
                {% if request.user.groups.all.0.name == "Administrador" %}
                <th>Opciones</th>
                {% endif %}
            </tr>
        
            {% for p in noticia %}
        
            <tr>
                <td><a href="{% url 'detalle_libro' p.producto.id %} " style="text-decoration: none ; color: black;" >
                    <div class="contenedor_producto" style="border-radius:20px ;">
                        {% if p.producto.imagen %}
        
                        <img src="{{ p.producto.imagen.url }}" alt="imagen producto">
                        {% endif %}</td>
                <td> {{p.producto.nombre | title }}</td>
                <td>Ha llegado a nuestra tienda {{ p.producto.descripcion }}</td>
                <td>{{p.fecha_publicacion | date:"d F" }}</td>

                {% if request.user.groups.all.0.name == "Administrador" %}
                
                    <td>

                    
                    <a href="#" onclick="eliminarNoticia({{ p.id }})" class="btn btn-danger">Eliminar</a>
                    
                    </td>
                {% endif %}
            </tr>
        
            {% endfor %} 
        
        </table>
    </div>
    {% include 'app/paginator.html' %}
    
</div>



{% endblock %}